:root {
  --color-stPage: rgba(0, 0, 0, 1);
  --color-mainTitlePage: linear-gradient(45deg, #ff00cc, #3333ff);
  --color-overlay: rgba(0, 0, 0, 0.8);
  --color-mainBtn: rgba(255, 255, 255, 0.3);
  --color-bgHeadTable: rgba(169, 221, 126, 0.4);
  --color-bgBodyTable: rgba(255, 255, 255, 0.5);
  --color-action: rgba(63, 131, 248, 0.5);
  --color-inputItem: rgba(0, 0, 0, 0.7);
  --color-addBtn: rgba(250, 222, 75, 0.8);
  --color-addBtnHover: rgb(250, 100, 90, 0.8);
  --color-removeBtn: rgba(0, 0, 0, 0.3);
  --colot-removeBtnHover: rgb(255, 0, 0);
  --color-closeTable: rgba(63, 131, 248, 0.6);
  --color-deleteChecked: rgb(255, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  margin: 0 auto;
}

.hideItem {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  flex-direction: column;
  z-index: 2;
}

.startPage {
  gap: 80px;
  background-color: var(--color-stPage);
  transition: opacity 3s ease-out;
}

.loader {
  background: linear-gradient(45deg, #001f3f, #003366);
  background-clip: text;
  color: transparent;
  border-radius: 10px;
  scale: 6;
  animation: loaderCircle 2s infinite linear;
}

.loadingText {
  display: flex;
  list-style: none;
  letter-spacing: 15px;
  font-size: 40px;
  background: var(--color-mainTitlePage);
  background-clip: text;
  color: transparent;
  border-radius: 10px;
}

.loadingText :first-child {
  text-transform: uppercase;
}

.loadingText :nth-child(5) {
  text-transform: uppercase;
}

.loadingText :nth-child(7) {
  transform: translate(1px, 20px) rotate(25deg);
  background: var(--color-mainTitlePage);
  background-clip: text;
  border-radius: 10px;
  animation: logo 2s infinite linear;
}

@keyframes loaderCircle {
  0% {
    rotate: 0deg;
  }
  50% {
    transform: rotate3d(1, 2, 3, -40deg);
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.overlay {
  background-color: var(--color-overlay);
  transition: all 1s;
}

.activeTab {
  background-color: var(--color-action);
  width: 250px;
  height: 200px;
  border-radius: 25px;
  padding: 5px;
  backdrop-filter: blur(3px);
  flex-direction: column;
  gap: 10px;
  cursor: context-menu;
  text-align: center;
  position: relative;
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("./images/robots.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.container {
  padding: 20px;
}

.titlesBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mainBtn {
  max-width: 350px;
  width: 100%;
  padding: 5px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: var(--color-mainBtn);
  backdrop-filter: blur(3px);
  border: none;
  cursor: pointer;
}

.mainBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background-color: var(--color-action);
}

.mainBtn:focus {
  color: #fff;
  background-color: var(--color-action);
}

.container-item {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.toggleLight {
  display: none;
  background-color: rgba(250, 222, 75, 0.9);
  padding: 5px;
  border: none;
  width: 80%;
  height: 27px;
  max-width: 200px;
  cursor: pointer;
  margin-top: 10px;
}

.themeSets {
  align-items: center;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  color: black;
  scale: 1.5;
  transition: all 0.6s;
}

#darkness {
  display: flex;
}

#lighter {
  display: none;
}

.toggleLight:hover #lighter,
.toggleLight:hover #darkness {
  color: #fff;
}

.searchBar {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 10px 0;
}

.searchId,
.searchName {
  display: flex;
  margin: 0 auto;
  gap: 3px;
}

.searchId input,
.searchName input {
  width: 200px;
  background-color: var(--color-inputItem);
  outline: none;
  border: none;
  color: #fff;
  padding: 5px 0 5px 5px;
  font-size: 15px;
}

.searchId input::placeholder,
.searchName input::placeholder {
  color: #fff;
}

.searchId button,
.searchName button {
  background-color: var(--color-action);
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.puzzle-enigma {
  flex-direction: column;
  border: 1px solid white;
  color: white;
  transition: all 0.6s;
  background-color: var(--color-action);
  border: none;
  width: 80%;
  height: 27px;
  max-width: 200px;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
}

.puzzle-trans {
  transition: all 1s;
}

#puzzle-mod,
#puzzle-mod2 {
  color: #fff;
  scale: 1.25;
  padding-top: 1.5px;
  vertical-align: middle;
  transform: translate(1px, -1px);
}

.puzzle-enigma:hover #puzzle-mod {
  color: black;
}

#puzzle-close {
  display: none;
  scale: 2;
  align-self: flex-end;
  color: red;
  cursor: pointer;
  transition: all 0.6s;
  position: absolute;
  top: 15px;
  left: 220px;
}

#puzzle-close:hover {
  scale: 2.3;
}

.alertData {
  color: #fff;
  font-size: large;
  text-transform: uppercase;
}

.alertSolve {
  color: #fff;
}

.solve {
  font-weight: 600;
  font-size: large;
  color: greenyellow;
  padding-top: 5px;
}

.puzzleInputClass {
  display: none;
  text-align: center;
}

.puzzleCheck {
  display: none;
  padding: 3px;
}

.wrapperTable {
  flex-direction: column;
  gap: 70px;
}

.mainTableContainer {
  display: none;
  flex-direction: column;
}

.firstTable {
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
  backdrop-filter: blur(3px);
}

.headTable th {
  padding: 3px;
  text-transform: uppercase;
  word-break: break-word;
  background-color: var(--color-bgHeadTable);
}

.itemTable td {
  padding: 3px;
  word-break: break-word;
  background-color: var(--color-bgBodyTable);
}

.addButton {
  width: 100%;
  background-color: var(--color-addBtn);
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-top: 2px;
  cursor: pointer;
  border: none;
}

.addButton:hover {
  background-color: var(--color-addBtnHover);
}

.removeButton {
  width: 80%;
  min-width: 50px;
  display: flex;
  justify-content: end;
  background-color: var(--color-removeBtn);
  border: 1px solid #fade4b;
  border-radius: 10px;
  margin-top: 5px;
  padding: 1px;
  margin-bottom: 2px;
  cursor: pointer;
}

.deleteIcon {
  margin: 0 auto;
}

.removeButton:hover {
  background-color: var(--colot-removeBtnHover);
}

.removeButton input {
  margin-right: 5px;
}

.deleteChecked {
  display: none;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  backdrop-filter: blur(10px);
  width: 80%;
  border: none;
  margin: 5px auto;
  background-color: var(--color-deleteChecked);
  cursor: pointer;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  transition: all 0.6s;
}

.deleteChecked:hover {
  width: 100%;
  color: #fff;
}

.navigation {
  max-width: 260px;
  gap: 7px;
  color: #fff;
  font-size: 14px;
  margin: 5px 0 20px;
  background-color: var(--color-action);
  align-self: center;
  padding: 0 10px;
}

.navigationDisabled {
  pointer-events: none;
  opacity: 0.7;
}

.navigation input {
  background: transparent;
  outline: none;
  color: #fff;
  text-align: right;
  width: 30px;
  font-size: 14px;
}

.navigation select {
  background-color: var(--color-action);
  color: #fff;
  font-size: 14px;
  border: none;
}

.arrowLeft,
.arrowRight {
  border: none;
  cursor: pointer;
}

.left,
.right {
  padding: 10px 15px;
}

.overlaySecondTable {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  flex-direction: column;
  background-color: var(--color-overlay);
  transition: all 1s;
  z-index: 5;
  overflow: auto;
}

#display-second-table {
  width: 100%;
}

.secondTable {
  max-width: 60%;
  height: 80%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px auto;
  font-size: 18px;
  text-align: center;
  backdrop-filter: blur(3px);
}

.secondTableRow {
  background-color: var(--color-bgHeadTable);
  text-transform: uppercase;
  padding: 3px;
}

.secondTableRow :first-child {
  width: 35%;
}

.closeTab {
  position: absolute;
  left: 0;
  right: 0;
  top: -35px;
  color: #fff;
  font-weight: 800;
  background-color: var(--color-closeTable);
  padding: 5px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  max-width: 100%;
  margin: 0 auto;
}

.closeTab img {
  vertical-align: bottom;
  width: 25px;
  transition: all 1s;
}

.closeTab img:hover {
  rotate: 180deg;
}

.secondThead th {
  padding: 3px;
  text-transform: uppercase;
  word-break: break-word;
  background-color: var(--color-bgHeadTable);
}
.secondTbody td {
  padding: 3px;
  word-break: break-word;
  background-color: var(--color-bgBodyTable);
}

body.dark .mainBtn {
  --color-mainBtn: rgb(255, 0, 0, 0.3);
}

body.dark .firstTable,
body.dark .secondTable {
  border-collapse: collapse;
}

body.dark .itemTable td,
body.dark .secondTbody td {
  --color-bgBodyTable: rgb(0, 0, 0, 1);
  color: white;
  border-bottom: 1px solid white;
}

body.dark .removeButton {
  --color-removeBtn: rgb(150, 0, 0);
}

@media (min-width: 420px) {
  .firstTable {
    font-size: 14px;
  }

  .headTable th:nth-child(1) {
    width: 25px;
  }

  .headTable th:nth-child(4) {
    width: 115px;
  }
}

@media (min-width: 540px) {
  .firstTable {
    font-size: 16px;
  }

  .headTable th:nth-child(2) {
    width: 120px;
  }

  .headTable th:nth-child(3) {
    width: 70px;
  }

  .headTable th:nth-child(4) {
    width: auto;
  }

  .headTable th:nth-child(5) {
    width: 90px;
  }

  .navigation {
    font-size: 16px;
    min-width: 50%;
  }

  .navigation input,
  .navigation select {
    font-size: 14px;
  }
}

@media (min-width: 740px) {
  .headTable th:nth-child(6) {
    width: 100px;
  }

  .headTable th:nth-child(4) {
    width: 235px;
  }
}

@media (min-width: 1100px) {
  .titlesBtn {
    flex-direction: row;
  }

  .container-item {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .toggleLight {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-shadow: 0 0 15px yellow;
  }

  .themeSets {
    justify-content: center;
    scale: 3;
  }

  #darkness {
    padding-top: 2px;
  }

  #lighter {
    display: none;
    padding-top: 2px;
  }

  .searchBar {
    flex-direction: row;
    gap: 30px;
    max-width: 700px;
  }

  .searchId,
  .searchName {
    min-width: 200px;
    flex-direction: column;
    margin: 0;
    flex-grow: 1;
  }

  .searchId input,
  .searchName input {
    text-align: center;
    width: 100%;
    padding: 5px 0;
  }

  .searchId input::placeholder {
    text-align: center;
  }

  .searchId button,
  .searchName button {
    padding: 3px 0;
  }

  .puzzle-enigma {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0;
    box-shadow: 0 0 15px #fff;
  }

  #puzzle-mod {
    scale: 2;
  }

  .wrapperTable {
    margin: 0 auto;
    display: flex;
    align-items: start;
    width: 90%;
  }

  .mainTableContainer {
    width: 100%;
    margin: 0 auto;
  }

  #display-second-table {
    justify-content: end;
    display: none;
  }
  .firstTable {
    width: 100%;
  }
  .secondTable {
    margin: 0;
    min-width: 400px;
    max-width: 401px;
  }

  .closeTab {
    display: flex;
    align-items: center;
    justify-content: center;
    left: -40px;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50% 0 0 50%;
    margin: 0;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1366px;
    margin: 0 auto;
  }
}
